<!--<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marine Corp Admin Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>-->

<body>
    <header>
        <div class="col-6 align-items-center d-flex">
            <a href="index.html" class="logo"></a>
            <a class="togglebtn" id="togglebtn"><i class="fa fa-bars"></i></a>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
            <div class="dropdown d-flex justify-content-end align-items-center">
                <a href="#" data-toggle="dropdown"><img src="../../../../assets/images/user-img.png" alt="" class="user-info" /> <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="profile.html">My profile</a>
                    <a class="dropdown-item" href="companydetails.html">Company details</a>
                    <a class="dropdown-item" href="subscription-plan.html">Subscription</a>
                    <a class="dropdown-item" href="login.html">Sign out</a>
                </div>
            </div>
        </div>


    </header>
    <main>
        <app-sidebar></app-sidebar>
        <!--<nav class="collapse-nav" id="mainNav">
            <ul>
                <li><a href="index.html" title="Dashboard"><i class="fa fa-tachometer-alt fa-fw"></i> <span>Dashboard</span></a></li>
                <li class="selected" title="Company"><a href="company.html"><i class="fa fa-building fa-fw"></i> <span>Company</span></a></li>
                <li><a href="captains.html" title="Captains"><i class="fas fa-user-secret fa-fw"></i> <span>Captains</span></a></li>
                <li><a href="boats.html" title="Trips"><i class="fas fa-ship fa-fw"></i> <span>Boats</span></a></li>
                <li><a href="trips.html" title="Trips"><i class="fas fa-route fa-fw"></i> <span>Trips</span></a></li>
                <li><a href="help.html" title="Help"><i class="fas fa-question fa-fw"></i> <span>Help</span></a></li>
            </ul>
            <div class="copyright"><span>Copyright 2019 &copy; All Rights Reserved. <br>Marine Corp</span> <i class="far fa-copyright" title="Copyright 2019 &copy; All Rights Reserved. <br>Marine Corp"></i></div>
        </nav>-->
        <aside>
            <div class="breadcrum">
                <a href="company.html">Company</a> > Company details
            </div>
            <div class="page-form">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label>Company Name</label>
                        <input type="text" class="form-control" placeholder="Enter Company Name">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Owner Name</label>
                        <input type="text" class="form-control" placeholder="Enter Owner Name">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label>Company Address</label>
                        <input type="text" class="form-control" placeholder="Enter Company Address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label>Owner photo</label>
                        <input class="form-control" class='form-control' name="ImageFile" type="file" placeholder="Enter your email">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Postal_Code</label>
                        <input type="text" class="form-control" placeholder="Enter Postal_Code">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Company Email</label>
                        <input type="text" class="form-control" placeholder="Enter Company Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label>Contact Number</label>
                        <input type="text" class="form-control" placeholder="Enter Contact Number">
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-3  mb-3">
                        <!--<label>Postal Code</label>-->
                        <input type="hidden" name="IsActive" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4  mb-3">
                        <!--<label>State/Regions</label>-->
                        <input type="hidden" name="IsDeleted" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <!--<label>User_ID</label>-->
                        <input type="hidden" class="form-control" placeholder="Enter User_ID">
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-12 pt-3 pt-2">
                        <a href="subscription-plan.html" class="btn bg-c-secondary mr-3">Save & Subscribe</a>
                    </div>
                </div>

            </div>
        </aside>
    </main>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->


</body>